body {
    font-family: 'Arial', sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .heading h1 {
    color: #333;
  }
  
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  
  .form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .form button:hover {
    background-color: #45a049;
    border-radius: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  ul li button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  ul li button:hover {
    background-color: #d32f2f;
  }
  